* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  background-color: rgb(200, 63, 63);
  padding: 10px;
}

.headerText {
  color: white;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.title {
  padding: 20px;
}

.eachProject {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.allButtons {
  display: flex;
  flex-direction: flex-end;
}

.projectButtons {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.containerFlex {
  display: flex;
  justify-content: space-between;
}

.allTasks {
  width: 500px;
  position: absolute;
  top: 120px;
  right: 500px;
}

.addtask {
  cursor: pointer;
}

.addtask:hover {
  color: red;
}

.editTaskCard {
  width: 100%;
}

.editTask {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  border-bottom: 1px solid lightgrey;
  padding: 8px, 0px;
}
